* {
    margin: 0;
    box-sizing: border-box;
}
div#page-content {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    min-height: fit-content;
}
img#banner-img {
    width: 100%;
    height: 226px;
}
main {
    margin: 1em;
}
div.page-header {
    display: flex;
}
div.page-header h2 {
    flex: 1;
}
div.page-header div.page-header-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
footer {
    min-height: 8vh;
    background-color: navy;
    color: aliceblue;
    display: flex;
    align-items: center;
}
footer div.left-footer {
    margin-left: 2em;
    flex: 1;
}
footer div.mid-footer {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 1em;
}
footer div.right-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    flex: 1;
}
a.sysadmin-card-link {
    text-decoration: inherit;
}


.foot{
    margin-top: 400px;
}