<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<!--<head th:replace="fragments1/header :: head"></head>-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MUM-Schedule</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cerulean/bootstrap.min.css" integrity="sha512-1rXsIsq9uaj3bxRth2+Mw1slRDxuPzGlfJ8PaLmkO3/OtvCL7jVQrdxaC1VvCmCzKRMdKu0pmbCtqQz/3/xORA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
	<div class="container" style="width: 500px;">
		<p>
		<div class="mb-3">
			<label for="block-name" class="form-label">Block</label>
			<input type="text" class="form-control" th:field="${block.name}" name="block-name" id="block-name"
				th:value="${block.name}" readonly />
		</div>
		</p>
		<p>
			<div class="mb-3">
				<label class="form-label">Lesson</label></br>
				<div class="dropdown">
					<button id="selected-item" class="btn btn-outline-primary dropdown-toggle" style="width: 100%" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Select lesson
					</button>
					<ul class="dropdown-menu">
						<li th:each="lesson: ${lessons}">
							<button type="button" class="btn btn-link btn-sm dropdown-item"
								th:data-lesson-id="${lesson.id}"
								th:data-lesson-name="${lesson.course.name} + ' - ' + ${lesson.faculty.fullName}"
								th:text="${lesson.course.name} + ' - ' + ${lesson.faculty.fullName}"
								onclick="selectLesson(this.getAttribute('data-lesson-id'), this.getAttribute('data-lesson-name'))"></button>
						</li>
					</ul>
				</div>
			</div>
		</p>
		<form id="form" action="#" th:action="@{../../schedule}" th:object="${newLesson}" method="POST">
			<input type="hidden" id="lesson-id" th:field="*{id}">
			<div class="row">
				<div class="col-md-6">
					<input type="submit" class="btn btn-primary" value="Create">
				</div>
				<div class="col-md-6" style="padding-top: 10px;">
					<a href="../../../student" class="link-primary">Cancel</a>
				</div>
			</div>
		</form >
	</div>
	<footer th:replace="~{fragments/footer :: footer}"></footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body >

</html>