<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--	layout:decorator="layouts/default">-->

<!--&lt;!&ndash;<head th:replace="fragments1/header :: head"></head>&ndash;&gt;-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--	<title>MUM-Schedule</title>-->
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cerulean/bootstrap.min.css" integrity="sha512-1rXsIsq9uaj3bxRth2+Mw1slRDxuPzGlfJ8PaLmkO3/OtvCL7jVQrdxaC1VvCmCzKRMdKu0pmbCtqQz/3/xORA==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--	<header th:replace="~{fragments/header :: header}"></header>-->
<!--</head>-->
<!--<body>-->
<!--	<div class="container">-->
<!--		<h4 th:text="'Schedule for ' + ${student.getFullName()} + ' (Student)'"></h4 >-->
<!--		<table class="table table-striped">-->
<!--			<tbody>-->
<!--				<tr th:each="sched: ${schedules}">-->
<!--					<td><span th:text="${sched.block.name}"></span></td>-->
<!--					<td>-->
<!--						<span th:if="${sched.course != null}" th:text="${sched.course.name} + ' by ' + ${sched.faculty.fullName}"></span>-->
<!--						<span th:if="${sched.course == null}">-->
<!--							<button type="button" class="btn btn-link btn-sm"-->
<!--								th:data-id="${sched.block.id}"-->
<!--								onclick="clickChooseLesson(this.getAttribute('data-id'))">Choose lesson</button>-->
<!--						</span>-->
<!--					</td>-->
<!--				</tr>-->
<!--			</tbody>-->
<!--		</table>-->

<!--		<div class="row">-->
<!--			<div class="col text-right"><a href="./logout">Logout</a></div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<footer th:replace="~{fragments/footer :: footer}"></footer>-->
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

<!--	</body>-->

<!--</html>-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">

<head th:replace="fragments/header :: head"></head>

<body>
<div class="container">
	<h4 th:text="'Schedule for ' + ${student.getFullName()} + ' (Student)'"></h4 >
	<table class="table table-striped">
		<tbody>
		<tr th:each="sched: ${schedules}">
			<td><span th:text="${sched.block.name}"></span></td>
			<td>
				<span th:if="${sched.course != null}" th:text="${sched.course.name} + ' by ' + ${sched.faculty.fullName}"></span>
				<span th:if="${sched.course == null}">
							<button type="button" class="btn btn-link btn-sm"
									th:data-id="${sched.block.id}"
									onclick="clickChooseLesson(this.getAttribute('data-id'))">Choose lesson</button>
						</span>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="row">
		<div class="col text-right"><a href="./logout">Logout</a></div>
	</div>
</div>

</body>

</html>