<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<!--<head th:replace="fragments1/header :: head"></head>-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MUM-Schedule</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cerulean/bootstrap.min.css" integrity="sha512-1rXsIsq9uaj3bxRth2+Mw1slRDxuPzGlfJ8PaLmkO3/OtvCL7jVQrdxaC1VvCmCzKRMdKu0pmbCtqQz/3/xORA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
	<div class="container" style="width: 300px;">
		<form action="#" th:action="@{../edit}" th:object="${student}" method="POST">
			<input type="hidden" class="form-control" th:field="*{id}" name="id" id="id" th:value="${student.id}"/>
			<p>
			<div class="mb-3">
				<label for="firstName" class="form-label">First name</label>
				<input type="text" class="form-control" th:field="*{firstName}" name="firstName" id="firstName" placeholder="First name" th:value="${student.firstName}"/>
			</div>
			</p>
			<p>
			<div class="mb-3">
				<label for="lastName" class="form-label">Last name</label>
				<input type="text" class="form-control" th:field="*{lastName}" name=lastName id="lastName" placeholder="Last name" th:value="${student.lastName}" />
			</div>
			</p>
			<p>
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="text" class="form-control" th:field="*{email}" name=email id="email" placeholder="email" th:value="${student.email}" />
			</div>
			</p>
			<div class="row">
				<div class="col-md-6">
					<input type="submit" class="btn btn-primary" value="Update">
				</div>
				<div class="col-md-6 text-center" style="padding-top: 10px;">
					<a href="../../student" class="link-primary">Cancel</a>
				</div>
			</div> 
		</form>
	</div>

	<footer th:replace="~{fragments/footer :: footer}"></footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>